@font-face {
  font-family: "Inter_28pt-Thin";
  src: url(../fonts/Inter_28pt-Thin.ttf);
}

@font-face {
  font-family: "Inter_28pt-Bold";
  src: url(../fonts/Inter_28pt-Bold.ttf);
}

@font-face {
  font-family: "Inter_28pt-Light";
  src: url(../fonts/Inter_28pt-Light.ttf);
}

@font-face {
  font-family: "Inter_28pt-ExtraLight";
  src: url(../fonts/Inter_28pt-ExtraLight.ttf);
}

html {
  --BG_color: white;
  --H1H2_color: black;
  --BG_color2: #fcfaf8;
  --H_font: "Inter_28pt-Bold";
  --p_font: "Inter_28pt-Light";
}

body {
  height: 100%;
  margin-top: 0.5rem;
}

h1,
h2,
h3 {
  font-family: var(--H_font);
}

h1,
h2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

p {
  font-family: var(--p_font);
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 12pt;
  line-height: 150%;
}

.global_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 60px;
  z-index: 1000;
  background-color: white;
  margin-top: -0.5rem;
  font-family: var(--p_font);
}

.global_menu ul {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 1rem;
  align-items: center;
}

.global_menu a {
  text-decoration: none;
  color: inherit;
}

/* burger menu */
.menu-checkbox {
  display: none;
}

.burger-menu {
  z-index: 1000;
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: -6px;
  margin-right: 0.5rem;
}

/* Fullscreen menu (hidden by default) */
.fullscreen-menu {
  position: fixed;
  top: 10;
  left: 0;
  width: 100vw;
  height: calc(100vh); /* Take up remaining space */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-right: 1rem;
  transform: scaleY(0); /* Start collapsed */
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box;
  z-index: 20;
  background-color: white;
}

/* Show menu when checkbox is checked */
.menu-checkbox:checked ~ .fullscreen-menu {
  transform: scaleY(1);
  pointer-events: auto;
  opacity: 1;
}

/* Disable scrolling when menu is open */
body:has(.menu-checkbox:checked) {
  overflow: hidden;
}

.fullscreen-menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
  flex-direction: column;
  margin-top: -15rem;
}

.fullscreen-menu ul li a {
  text-decoration: none;
  transition: color 0s;
}

.fullscreen-menu ul li a:hover {
  text-decoration: underline;
}

.footer_container {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-direction: column;
  margin-left: 0;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.footer-section {
  margin-right: 2rem;
  margin-left: 2rem;
}

.footer-section:last-of-type {
  margin-bottom: 2rem;
}
.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: var(--p_font);
}

footer {
  margin-top: 5rem;
  background-color: #fcfaf8;
  border-top: 0.5px solid black;
}

.footer-section ul li {
  margin-top: 0.5rem;
}

.footer-section ul a {
  color: white;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

footer h3 {
  margin-bottom: 0;
  margin-top: 2rem;
}

.footer_slogan {
  font-size: 11.9vw;
  color: transparent;
  -webkit-text-stroke: 0.5px black;
  margin-left: 0.5rem;
  font-family: var(--H_font);
}

.logo {
  width: 150px;
  height: 30px;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: -1rem;
}

.global_menu_desktop {
  display: none !important;
}

.icons {
  display: none;
}

.category_button {
  font-family: var(--H_font);
}

.category_dropdown {
  font-family: var(--p_font);
}
@media (width > 700px) {
  .burger-menu {
    display: none;
  }

  .global_menu {
    display: flex;
    width: 100vw !important;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  }

  .footer_container {
    flex-direction: row;
  }

  .footer_slogan {
    -webkit-text-stroke: 1px black;
  }

  .global_menu_desktop {
    display: flex !important;
    align-items: center;
    flex: 1;
    font-size: 14pt;
    margin-left: 1rem;
  }

  .global_menu_desktop a:hover {
    text-decoration: underline;
  }

  .global_menu ul {
    gap: 2rem;
  }

  .icons {
    display: none;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    margin-right: 1.5rem;
  }

  .icons img {
    width: 28px;
  }

  .logo img {
    width: 140%;
  }

  .logo {
    height: 50px;
    width: 120px;
    margin-left: 0;
  }

  footer {
    border-top: solid 1px black;
  }

  .footer-section {
    margin-bottom: 2rem;
  }
}
