img {
  width: 60%;
  height: 100%;
  margin-left: 15%;
}
.hero{
  margin-top: 0;
  border-bottom: solid black 1px;
  background-color: #FCFAF8;
}
section{
  gap: 0;
}
a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.category_list_container {
  row-gap: 30px;
  width: 200px;
  height: 40px;
  display: inline-block;
  border: solid 2px darkgreen;
  background-color: darkgreen;
  text-align: center;
}
body {
  margin: 0;
}
.category_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.fuld {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 300px;
  margin-top: 10%;
}

header {
  margin-top: 0;
}
.carousel {
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  /* border: 2px solid #ddd; */
  /* border-radius: 10px; */
  position: relative;
  height: auto;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel-track a {
  flex: 0 0 100%;
}

.carousel-img {
  width: 100%;
  flex-shrink: 0;
  height: 400px;
  object-fit: cover;
  margin: 0;
  max-width: 100%;
}
/* Skjul radio buttons */
input[type="radio"] {
  display: none;
}

/* Positioner rækken baseret på checked radio button */
#carousel-01:checked ~ .carousel-track {
  transform: translateX(0);
}
#carousel-02:checked ~ .carousel-track {
  transform: translateX(-100%);
}
#carousel-03:checked ~ .carousel-track {
  transform: translateX(-200%);
}
#carousel-04:checked ~ .carousel-track {
  transform: translateX(-300%);
}

/* Karusellens navigationsprikker */
.carousel-navigation {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  background-color: #fffffa;
  margin-top: 0.1px;
  bottom: 0;
}

/* Styling af prikkerne */
/* .nav-dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: #feb4c2c8;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;

} */

/* Highlight prikken når den er valgt */
#carousel-01:checked ~ .carousel-navigation label[for="carousel-01"] {
  background-color: #bc3a41;
}
#carousel-02:checked ~ .carousel-navigation label[for="carousel-02"] {
  background-color: #bc3a41;
}
#carousel-03:checked ~ .carousel-navigation label[for="carousel-03"] {
  background-color: #bc3a41;
}
#carousel-04:checked ~ .carousel-navigation label[for="carousel-04"] {
  background-color: #bc3a41;
}
.billeder {
  display: none;
}

@media (min-width: 700px) {
  .fuld {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .carousel {
    display: none;
  }
  .billeder {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
