.product-info{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.cart-section{
    grid-row: span 2;
    text-align: end;
}

.info{
    grid-row: span 1 / -1;
}