body {
    margin-right: 1rem;
    margin-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }  

/* Individuelt produkt info styling */
.image-container {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.image-container img {
  width: 100%;
}
.product-name h1{
  font-size: 20pt;
  margin-top: 150px;
}
.price {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: end;
}
.discount {
    font-size: 14px;
    color: red;
    margin-bottom: 10px;
    text-align: end;
    margin-top: 150px;
}
.discount {
  font-size: 14px;
  color: red;
  margin-bottom: 10px;
}
.price-discount {
  text-align: end;
  margin-top: 1em;
}
.info{
  padding-top: 0px;
}
.cart-section {
  padding-top: 1em;
}
.quantity {
  padding: 8px;
  width: 50px;
  font-size: 15px;
}
.add-to-cart {
  background-color: #3d4b3a;
  color: white;
  margin-top: 12px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.description {
  background-color: #3d4b3a;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.reviews {
  background-color: #3d4b3a;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
}

/* Description og review drop-down knap */
.toggle-content {
  display: none;
  padding: 10px;
  border-bottom: 1px solid #3d4b3a;
  border-left: 1px solid #3d4b3a;
  border-right: 1px solid #3d4b3a;
  background-color: white;
}
.toggle-btn {
  cursor: pointer;
  background-color: #3d4b3a;
  color: white;
  border: none;
  padding: 15px 12px;
  margin-top: 20px;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}