.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.product_image_container {
    width: 100%;
    max-width: 400px;
}

.product_image_container img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1 / 1; 
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding-top: 1rem;
}


/* Desktop-layout */
@media (min-width: 1024px) {
    .product {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 5rem;
        padding: 5rem;
    }

    .product_image_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-info {
        text-align: left;
        align-items:start;
        max-width: 400px;
        gap: 1.5rem;
    }

    .product-info h1 {
        font-size: 2rem;
        font-weight: bold;
    }

    .product-info p {
        font-size: 1rem;
        line-height: 1.6;
    }

    .cart-section {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .cart-section button {
        background-color: #2f3e2f; 
        color: white;
        padding: 0.8rem 1.5rem;
        border: none;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s;
    }

    .cart-section button:hover {
        background-color: #1d281d;
    }
}