/* Individuelt produkt info styling */
.image-container {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.image-container img {
  width: 100%;
}
.product-name h1 {
  font-size: 20pt;
  margin-top: 3rem;
}
.price-discount {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}

.discount {
  font-size: 1rem;
  color: red;
  margin-left: 1rem;
}
.info {
  padding-top: 0px;
}
.cart-section {
  margin-left: 1rem;
}
.quantity {
  padding: 8px;
  width: 50px;
  font-size: 15px;
}
.add-to-cart {
  background-color: #425741;
  color: white;
  padding: 10px;
  border: #425741 solid 1px;
  cursor: pointer;
  transition: background 0.1s ease;
}
.description {
  background-color: #425741;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.reviews {
  background-color: #425741;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
}

/* Description og review drop-down knap */
.toggle-content {
  display: none;
  border-bottom: 1px solid #425741;
  border-left: 1px solid #425741;
  border-right: 1px solid #425741;
  background-color: white;
  margin-left: 1rem;
  width: 100%;
  box-sizing: border-box;
  transition: background 0.1s ease;
}

.toggle-content p {
  margin-top: 0;
  padding-top: 1rem;
}

.toggle-btn {
  cursor: pointer;
  background-color: #425741;
  color: white;
  border: #425741 solid 1px;
  padding: 15px 12px;
  margin-top: 20px;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-right: 1rem;
  margin-left: 1rem;
  transition: background 0.1s ease;
}

.toggle-btn:hover {
  background-color: white; /* Darken on hover */
  color: #425741;
}

.add-to-cart:hover {
  background-color: white; /* Darken on hover */
  color: #425741;
}

@media (min-width: 700px) {
  .price {
    margin-left: 1rem;
  }

  .discount {
    margin-left: 1rem;
  }

  .cart-section {
    margin-left: 1rem;
  }
}
