.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.product_image_container {
  width: 100%;
  max-width: 400px;
}

.product_image_container img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1 / 1;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  gap: 1rem;
}

/* Desktop-layout */
@media (min-width: 700px) {
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    padding: 5rem;
  }

  .product_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-info {
    text-align: left;
    align-items: start;
    max-width: 400px;
    gap: 1.5rem;
  }

  .product-info h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 4rem;
  }

  .product-info p {
    font-size: 1rem;
    line-height: 1.6;
  }

  .cart-section {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .cart-section button {
    background-color: #425741;
    color: white;
    border: #425741 solid 1px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 0;
    padding: 11px;
  }

  .cart-section button:hover {
    background-color: white;
    border: #425741 solid 1px;
  }

  .product-name h1 {
    margin-top: 50px;
  }
}
