body{
    margin: 0%;
}


.product_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px; 
    margin-left: 10px;
}

.product_list_container {
    background: white;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    height: 100%; 
    max-height: 400px; 
    overflow: hidden;

}

.product_list_container img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}
  .hero-billede img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    display: block;
  
}
h1 {
    position: relative;
    font-size: 25vw; 
    font-weight: 2000; 
    color: black;
    text-align: center;
    position: absolute;
    margin-top: -50px; 
    z-index: 10; 
    white-space: nowrap; 
    font-family: "Inter_28pt-Bold";

}
h2{
    font-family: "Inter_28pt-Bold";
}
.alleprodukter{
    margin-top: 200px;
}
h2{
    margin-left: 20px;
    font-size: 5vw; 
}
a {
  text-decoration: none; 
  color: black;
  font-family: "Inter_28pt-Light";
}
.h2other{
    margin-top: 100px;
}
.carousel {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 20px;
}

.carousel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: max-content;
}

.carousel-items img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    flex-shrink: 0;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


  /* Media query til større skærme */
  @media (min-width: 700px) {
    .product_list {
      grid-template-columns: repeat(4, 1fr); 
    }
    .hero-billede {
        width: 100%;
        height: 60vh; 
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; 
        position: relative;
    }
    
    .hero-billede img {
        width: 100%;
        height: 100%; 
        object-fit: cover; 
        object-position: center 30%; 
    }
    h1 {
        margin-top: -190px; 
    }
    .alleprodukter{
        margin-top: 400px;
    }
    .product_list {
        grid-template-columns: repeat(4, 1fr); 
    }

    .product_list_container img {
        height: 300px; /
    
    }
    .carousel-items img {
        width: 300px; 
        height: 300px;
    }

    .carousel-items {
        gap: 20px; 
    }
  }